<html>
    <head>
        <title>ToDo-Tracker</title>
    </head>
    <body>
        <h1>Login Form</h1>
        <form action="/login" method="POST">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <!-- <input type="text" placeholder="Conform Password"> -->
            <button>Submit</button>
        </form>



        <h1>Register Form</h1>
        <form action="/register" method="POST">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <!-- <input type="text" placeholder="Conform Password"> -->
            <button>Submit</button>
        </form>
    </body>
</html>