<html>
    <head>
        <title>TODO-Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
            a:hover
            {
                text-decoration: none;
            }
            .container 
            {
                position: absolute;
                top: 30%;
                left: 10%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <% if(error && error.length>0){%>
              <div class="alert alert-danger" role="alert">
                <%=error%>
              </div>
          <%}%>

          <% if(success && success.length>0){%>
            <div class="alert alert-success" role="alert">
              <%=success%>
            </div>
         <%}%>
  
        </div>
        <div class="container text-center">
            <h1>Register</h1>
        
            <div style="width:30%; margin:20 auto">
                <form method='post' action="/register">
            
                    <div class="form-group">
                                  <input type="text" class="form-control"  name="username" placeholder="Username"">
                    </div>
        
                    <div class="form-group">
                        <input type="password" class="form-control"  name="password"  placeholder="Password">
                    </div>
        
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-lg btn-block btn-primary">Submit</button>
                    </div>
                
                </form>
            </div>
        
        </div>
        
    </body>
</html>